<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock meta %}

        <title>{% block title %}{% endblock title %}</title>

        <!-- Bootstrap Core CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">-->
        <link href="/static/sb_admin_4/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <!-- <link href="/static/sb_admin_2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">-->

        <!-- Custom CSS -->
        <!-- <link href="/static/sb_admin_2/dist/css/sb-admin-2.css" rel="stylesheet">-->

        <!-- Custom Fonts -->
        <!-- <link href="/static/sb_admin_2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <!-- Firebase Notification -->
        <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>


        <!-- Bootstrap Core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <!--<script src="/static/sb_admin_4/vendor/jquery/jquery.min.js"></script>-->
        <script src="/static/sb_admin_4/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <!--<script src="/static/sb_admin_2/vendor/metisMenu/metisMenu.min.js"></script>-->

        <!-- Custom fonts for this template-->
        <link href="/static/sb_admin_4/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template-->
        <link href="/static/sb_admin_4/css/sb-admin.css" rel="stylesheet">

        <!-- Custom scripts for all pages-->
        <script src="/static/sb_admin_4/js/sb-admin.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/static/sb_admin_4/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/static/sb_admin_4/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/static/sb_admin_4/vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom Theme JavaScript -->
        <!--<script src="/static/sb_admin_2/dist/js/sb-admin-2.js"></script>-->

        <!------------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------------>

        <!-- Bootstrap UI bug fix -->
        <style type="text/css">
            .input-group-addon {
                min-width: 128px;
            }

        </style>

        <!-- Method to get cookie sent by Django server -->
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }


                        //=============Code For Notification==============

            function logout(){
                delete_cookie('auth');
                window.location.replace("/login");
            }

            var delete_cookie = function(name) {
                document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            };

            window.onload=function(){

                var displayPSANotification = false;
                var displayIRNotification = false;
                var str = window.location.pathname;

                if(str =="/home"){
                    $('.breadcrumb').remove();
                }
                if(str != "/notification_read"){
                    displayPSANotification = true;
                }
                if(str != "/reports/validate/"){
                    displayIRNotification = true;
                }

                var dnperm = document.getElementById('dnperm');

                dnperm.addEventListener('click',function(e){
                    e.preventDefault();
                    if(!window.Notification){
                        alert('Not supported');
                    }else{
                        Notification.requestPermission().then(function(p){
                            if(p=='denied'){
                                alert('You denied to show notification');
                            }else if(p=='granted'){
                                alert('You allowed to show notification');
                            }
                        });
                    }
                });

                var config = {
                    apiKey: "AIzaSyAhKJCZBtOu_ffdBHczrEHxCORktWBcWQo",
                    authDomain: "testapp-ab172.firebaseapp.com",
                    databaseURL: "https://testapp-ab172.firebaseio.com",
                    projectId: "testapp-ab172",
                    storageBucket: "testapp-ab172.appspot.com",
                    messagingSenderId: "1039546222856"
                };
                firebase.initializeApp(config);

                var database = firebase.database().ref().child("notification");
                /*
                database.push().set({
                    title: "hi",
                    message: "teteasdsdasda",
                    facebook: "1",
                    twitter: "1",
                    sms: "1"
                });
                */

                database.on('child_added', function(data) {


                    if(Notification.permission!=='default'){
                                var notify;

                                 if(displayPSANotification) {
                                     notify = new Notification(' Title: ' + data.val().title, {
                                         'body': data.val().message,
                                         'icon': 'templates/image/images.jpeg',
                                         'requireInteraction': true,
                                         'tag': data.getKey()
                                     });
                                     notify.onclick = function () {
                                         event.preventDefault(); // prevent the browser from focusing the Notification's tab
                                         //location.href = "/notification_read";
                                         window.open('/notification_read?tag='+ data.getKey());
                                         //window.location = '/notification_read?tag=' + data.getKey();
                                         //window.location = '/notification_read';
                                     }
                                 }
                    }else{
                        alert('Please allow the notification first');
                    }
                });

                var database1 = firebase.database().ref().child("notificationIR");
                database1.on('child_added', function(data) {


                    if(Notification.permission!=='default'){
                                var notify;

                                 if(displayIRNotification) {
                                     notify = new Notification(' Title: ' + data.val().title, {
                                         'body': data.val().message,
                                         'icon': 'templates/image/images.jpeg',
                                         'requireInteraction': true,
                                         'tag': data.getKey()
                                     });
                                     notify.onclick = function () {
                                         event.preventDefault(); // prevent the browser from focusing the Notification's tab
                                         //location.href = "/notification_read";
                                         //window.open('/reports/validate');
                                         window.location = '/reports/validate';
                                         data.ref.remove();
                                         //window.location = '/notification_read';
                                     }
                                 }
                    }else{
                        alert('Please allow the notification first');
                    }
                });
            }




            //====================Ends Here=================
        </script>

        <!------------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------------>

        {% block vendor_stylesheets %}
        {% endblock vendor_stylesheets %}
        {% block page_stylesheets %}
        {% endblock page_stylesheets %}
        {% block page_javascripts %}
        {% endblock page_javascripts %}
    {% endblock head %}
</head>

<body>
{% block body %}
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">


        <a class="navbar-brand" href="home">Central Management System</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1">
                <a class="nav-link" onclick="logout()" href="javascript:void(0);">Logout</a>
            </li>
        </ul>
      </ul>

    </nav>

    <div id="wrapper">
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/view_publicserviceannouncement">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Manage PSA</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/publish_publicserviceannouncement">
                <i class="far fa-paper-plane"></i>
                <span>Publish PSA</span></a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/reports/status">
                <i class="fas fa-clipboard-list"></i>
                <span>Generate Status Report</span></a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/reports/validate">
                <i class="fas fa-check-circle"></i>
                <span>Validate Incident Report</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="dnperm">
                <i class="fas fa-exclamation"></i>
                <span>Request Permission</span></a>
            </li>
        </ul>





        <div id="content-wrapper" class="bg-light">
            <div class="container-fluid">
                <div style="padding-left: 16px; padding-right: 16px">


                    <ol class="breadcrumb" style="margin-top: 16px;">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </ol>

                    {% block content %}
                    {% endblock content %}
                </div>

                <footer class="sticky-footer" style="padding-top: 32px">
                    <div class="container">
                        <div class="text-center">
                            <small>Central Management System</small>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock body %}
</body>
<footer>

</footer>

</html>