{% extends 'base.html' %}
{% block title %}{{ page_name }}{% endblock title %}
{% block page_stylesheets %}
    <link href="/static/sb_admin_2/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock page_stylesheets %}

{% block page_javascripts %}
    <script>
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                const csrfToken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
                console.log("CSRF Token set: " + csrfToken);
            }
        });

        function submitForm() {
            $('#input-form').hide();
            $('#alert-success').hide();
            $('#alert-danger').hide();
            $('#alert-missing-required-input').hide();

            console.log()

            if(document.getElementById('title').value.length === 0
                || document.getElementById('description').value.length === 0) {
                $('#alert-missing-required-input').show();
                $('#input-form').show();
            }
            else {
                var data = {
                    'id': document.getElementById('id').value,
                    'title': document.getElementById('title').value,
                    'description': document.getElementById('description').value
                };

                $.ajax({
                    url: '/update_publicserviceannouncement',
                    type: 'post',
                    data: data,
                    success: function (msg) {
                        if (msg === "successful") {
                            $('#alert-success').show();
                        }
                        else {
                            $('#alert-danger').show();
                            $('#input-form').show();
                        }
                    },
                    error: function (msg, status, jqxhr) {
                        $('#alert-danger').show();
                        $('#input-form').show();
                    }
                });
            }

            return false;
        }
    </script>
{% endblock page_javascripts %}

<!-- Add the page hierarchy here -->
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/view_publicserviceannouncement">Manage Public Service Announcement</a></li>
    <li class="breadcrumb-item active">{{ page_name }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ page_name }}</h3>
        </div>
    </div>

    <div id="alert-success" class="row" style="display: none">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> New Public Service Announcement has been successfully added!
            </div>
        </div>
    </div>

    <div id="alert-danger" class="row" style="display: none">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Unsuccessful!</strong> Please try submitting the form again!
            </div>
        </div>
    </div>

    <div id="alert-missing-required-input" class="row" style="display: none">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Please ensure all field(s) has been filled!
            </div>
        </div>
    </div>

    <form id="input-form" action="" method="post"> {% csrf_token %}
        <div class="row" style="padding-top: 16px">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" value="{{ psa.title }}">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" rows="3">{{ psa.description }}</textarea>
                </div>

                <input id="id" name="id" value="{{ psa.id }}" hidden>
            </div>

        </div>

        <div class="row">
            <div class="col-md-offset-6 col-md-3" style="padding-top: 16px">
                <button class="btn btn-danger btn-block" onclick="window.history.go(-1); return false;">
                    Discard
                </button>
            </div>

            <div class="col-md-3" style="padding-top: 16px">
                <button class="btn btn-success btn-block" onclick="return submitForm();">
                    Save Changes
                </button>
            </div>
        </div>
    </form>
{% endblock content %}